<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<!-- <title>Storystrap Template</title> -->
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
    <link href="/css/back.css" rel="stylesheet">
<!-- Website Icon -->
<link rel="icon" href="../images/Scenery.jpg" type="image/x-icon" />
	</head>
	<body style="background-image: url('../images/home-pic.jpg');">
<header class="navbar navbar-bright navbar-fixed-top" role="banner"
style="background:#47362b; opacity: .69; width:100%; height: 10%;">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for(i=0;i<nav.length;i++){%> 
        <li>
          <a href="<%=nav[i].link%>" style="color: white; font-size: 18px; "><%=nav[i].name%></a>
        </li>
        <%}%>
        
      </ul>
     
    </nav>
  </div>
</header>




<div class="container" style="padding-top: 5%;">
  <div class="row">
    
    <div class="col-md-12" > 
      
      <div class="panel">
        <div>
          
          <h1 class="display-2 bg-img text-white bg-overlay text-center"><%=author.title%></h1>



          <!-- Card deck1 -->
          <div class="card-deck author">
      
      
                  <!-- Card 1 2 3 -->
                  <div class="card mb-4">
              
              
                  <div class="card-body">
              
                      <!--Title-->
                      <!-- <h4 class="card-title"><center><%=author.title%></center></h4> -->
                      <!--Text-->
                      <p class="card-text text-center"><%=author.about%></p>
                      <% if(user) { %>
                        
                      <form action="/authors/edit" method="POST">
                        <input type="hidden" name="id" value="<%=author._id%>">
                        <button id="editbtn" type="submit" class = "btn btn-success btn-sm" style="float: right;">Edit Author</button>
                        </form>
      
                        <form action="/authors/delete" method="POST">
                        <input type="hidden" name="id" value="<%=author._id%>">
                        <button id="dltbtn" type="submit" class = "btn btn-danger btn-sm" style="float: right; margin-right: 25px">Delete Author</button>
                        </form>
                        <%} else { %>

                          <form action="/authors/edit" method="POST" class="hidden">
                            <input type="hidden" name="id" value="<%=author._id%>">
                            <button id="editbtn" type="submit" class = "btn btn-success btn-sm" style="float: right;">Edit Author</button>
                            </form>
          
                            <form action="/authors/delete" method="POST" class="hidden">
                            <input type="hidden" name="id" value="<%=author._id%>">
                            <button id="dltbtn" type="submit" class = "btn btn-danger btn-sm" style="float: right; margin-right: 25px">Delete Author</button>
                            </form>
                          <% } %>
              
                  </div>
              
                  </div>
                  <!-- Card 1 2 3 -->



  
  
          </div>
          <!-- Card deck1 end -->
          
      
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                

<!-- Footer end -->
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>